AECBeacon.iml
.gradle/2.2.1/taskArtifacts/cache.properties
.gradle/2.2.1/taskArtifacts/cache.properties.lock
.gradle/2.2.1/taskArtifacts/fileHashes.bin
.gradle/2.2.1/taskArtifacts/fileSnapshots.bin
.gradle/2.2.1/taskArtifacts/outputFileStates.bin
.gradle/2.2.1/taskArtifacts/taskArtifacts.bin
.idea/.name
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/appcompat_v7_22_2_1.xml
.idea/libraries/support_annotations_22_2_1.xml
.idea/libraries/support_v4_22_2_1.xml
build/intermediates/gradle_project_sync_data.bin
build/intermediates/dex-cache/cache.xml
butterknife_7_0_1.xml
app.iml
local.properties
